@model IEnumerable<SampleHomepage.Models.product>

<p class="text-center">
    <br />
   <a href="@Url.Action("Add", "Home")">Add</a>
    <br /><br />
</p>

<table class="table">
    <tr class="text-center">
        <th></th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Category Name
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("GetImage", "Home", new { id = @item.ProductID})" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.CategoryName)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Home", new { id = item.ProductID })">Edit</a> |
                <a href="@Url.Action("Delete", "Home", new { id = item.ProductID })">Delete</a>
            </td>
        </tr>
    }

</table>

